* {
  padding: 0;
  margin:  0;
  box-sizing: border-box;

}

.navbar {
  height: 15vh;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #31FF00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
  

}
a{
  padding: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  border-right: 1px solid black;
}
.nav-items{
  width: 30%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-left: 35rem;
  
}
.nav-items li a {
  
  text-decoration: none ;
}
.one {
  height: 90vh;
  width: 100%;
  background-image: url(./assests/a-close-up-shot-of-a-stylish-pair-of-new-balance-s-yo2fDi2bTceYM6Xv0w-hoA-UV9UVlr-T_aEUxIYV1skrA.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  height: 50vh;
  width:  80%;
  }
.img-container h2{
   font-size: 80px;
   color: white;
   
  
}
span{
  font-size: 80px;
  color: gold;
}
.img-container P{
  height: 6vh;
  font-size: 30px;
  color: rgb(4, 4, 4);
}
button{
  cursor: pointer;
  height: 10vh;
  width: 30%;
  font-size: 30px;
  font-weight: bold;
  background-color: yellow;
  border-radius: 10px;
   margin-top: 40px;

}
/* Shop CSS part */
.shop{
  height: 100vh;
  width: 100%;
  background-image: url(assests/composition-black-friday-shopping-cart-with-copy-space.jpg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-size: cover;

}
.shop h2{
  font-size: 60px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  

.product{
  margin-top: 60px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 300px;
  flex-direction: column;
  margin-left: 10px;
  
}

.productCover{
  width: 100%;
  display: flex;
height: 90vh;

}
.btn{
  cursor: pointer;
  height: 10vh;
  width: 30vh;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  margin-bottom: 10px;

}
/* cart csss */
